{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load bootstrap_ui_tags %}

{% block content %}


<b><h1><a id="icon">{% bootstrap_icon "bullhorn"%}</a> <a id="title">{% trans 'Talk to us'%}</a> </h1></b>

	<br>

{% row %}


{% column md="6" %}

	 <h4>{% bootstrap_icon "earphone"%} {% trans 'Our Phone' %}  <br><br>
	    {{enterprise.phone_contact}}</h4>
	
{%endcolumn%}

{% column md="6"%}
	<h4>{% bootstrap_icon "envelope"%} {% trans 'Our Email' %} <br><br>

	    {{enterprise.email_contact}} </h4>
{%endcolumn%}
{% endrow %}

<br><br>
<h4>{% trans 'You can send us a message'%} </h4>
	<form method="post" action="{% url 'contacts' %}" class="form-signin">
	{% csrf_token %}
	{% bootstrap_form form %}

	<div align="center">

	{% buttons %}
	  <button type="submit" class="btn btn-primary">
	    {% trans 'Send' %}
	  </button>
    {% endbuttons %}
    </div>
	</form>
{% endblock %}