{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles%}
{% load django_blog_tags %}

{% block content %}
{% csrf_token %}

<h1> Informações sobre <i>{{enterprise.name}}</i></h1> 
<h4> {% trans 'About' %}: <br>
    {{enterprise.who}}</h4>

<h4> {% trans 'Our Phone' %}: <br>
    {{enterprise.phone_contact}}</h4>

<h4> {% trans 'Our Email'%}: <br>
    {{enterprise.email_contact}} </h4>

<a href="{% url 'update_enterprise' enterprise.id %}" class="btn btn-ido">
    {% bootstrap_icon "pencil" %} {% trans 'Update Info' %}
</a>

{% endblock %}
