#app_title {
    font-size: xx-large;
    font-family: cursive;
    color: #FF1493;
}

#icon{
    color: #FF1493;

}

.btn-ido{
    background-color: #008B8B;
    border-color: #008B8B;
    color: white;
}

#title{
    color: #00CED1;
}

.panel-ido > .panel-heading {
  color: #fff;
  background-color: #008B8B;
  border-color: #008B8B;
}

.label-ido{
  color: #fff;
  background-color: #FF1493;
}

a {
  color: #008B8B;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #FF1493;
}

#posts{
  float: left; 
  width: 90%;
}

#list_posts{
  float: right; 
  margin-right: -50%;
  width: 30%;
}